<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/enpc-180x180.png">
<link rel="icon" type="image/png" href="{{ base_path }}/images/enpc-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/enpc-192x192.png" sizes="192x192">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/enpc-270x270.png">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<meta name="theme-color" content="#ffffff">